@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body{
    background-color: #F5F7F8;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/*scroll*/
body::-webkit-scrollbar-thumb{
    border-radius: 10px;
}

/*contenedor del texto*/
.h1{
    margin-top: 2%;
}
.h5{
    padding-top: 40px;
    color: #176B87;
}
.texto{
    font-size: 30px;
    padding: 40px;
    padding-left: 60px;
    padding-right: 450px;
        
}

/*nav*/
.edit{
    color: #00008b;
    font-size: 50px;
}
.letra1{
    color: #ffff00;
}
.letra2{
    color: #0000ff;
}
.letra3{
    color: red;
}
.recall{
    text-decoration: none;
    text-align: center;
}
.nav{
    display: inline-block;
    width: 100%;
    background-color:  #176B87;
    padding: 10px 10px 10px 10px;
    text-align: center;
    outline: #176B87 2px solid;
    position: fixed;
}
.secciones{
    display: inline-block;
    font-size: 19px;
    margin:auto;
    margin-left: 30px;
    margin-right: 30px;
    padding: 5px;
    border: #176B87 solid 1px;
}
.secciones_link:hover{
    background-color: #293462;
    color: #ffffff;
    border-radius: 30px; 
    border: #ff0000 solid 0.01px;
    transition-duration: 0.3s;
    transform: scale(1.2);
    padding: 5px;
}
.secciones_link{
    text-decoration: none;
    color: #000000;
    font-size: large;
}
/*article*/
.noticia{

}

.cont_relleno{
    display: inline-block;

}
/*footer*/
footer{
    background-color:  #176B87;
    padding: 1em 0;
    margin-top: auto;
    text-align: center;
}
.grupo2_item{
    width: 50px;
    height: 50px;
    display: inline-block;
}

@media (max-width: 600px) {
    body{
    }
}

@media (min-width: 600px){

}