.h1{
    color: blue;
}
.pie{
    background-color: #0D1282;
    padding-left: 300px;
}
.pie_titulo{
    color: #fff;
    margin-left: 110px;
}
.titulo{
    font-size: 700;
}
.link_redes{
    display: inline-block;
    padding-left: 100px;
}
.nav{
    background-color:  #92C7CF;
    padding: 8px 30px 8px 30px  ;

}
.secciones{
    display: inline-block;
    font-size: 21px;
    margin:0px 85px 0px auto;
    padding: 5px;
    border: #92C7CF solid 1px;
}
.secciones:hover{
    background-color: #FFE382;
    border-radius: 45px; 
    border: #F0EDD4 solid 1px;
    transition-duration: 0.2s;
    transform: scale(1.3);
}
.secciones_link{
    text-decoration: none;
}